
*{
  margin: 0; 
  padding: 0;

}

html{
   font-family: "Reenie Beanie", cursive;
   font-weight: 400;
   font-style: normal;
   color:#3b3b3b;
}
nav {
   text-decoration: none;
}

.lyrics{
   font-size: 15px; 
}

.padLeft{

}

.container {
   display: flex;
   justify-content: space-around;
   padding-left: 20px;
   font-size: 30px;
   font-weight: 300;
   margin: 350px;
   
}
.container2 {
   display: flex;
   justify-content: center;
   font-size: 20px;
   font-weight: 300;
}

.slideUp{
   font-size: 35px;
   animation: moveUp 4s forwards;
   display: inline-block;

}

h2{
   font-size: 35px;
   
   
}

h2:hover{


}
@keyframes moveUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-340px);
  }
}
h2 a{
   text-decoration: none;
   color: #3b3b3b;
   transform: scale(3,1.5);
   -webkit-transform: scale(3,1.5);
   -moz-transform: scale(3,1.5);
   -ms-transform: scale(3,1.5);
   -o-transform: scale(3,1.5);


}
.glow {
   font-size: 40px;
   color:khaki;
   text-align: center;
   animation: glow 2s infinite;
   position: relative;
 }
 
 @keyframes glow{
   0%, 100% {
     text-shadow: 0 0 20px #faf746b3;
     transform: scale(1);
   }
   50% {
     text-shadow: 0 0 30px rgba(255, 255, 255, 1), 0 0 50px rgba(255, 255, 255, 1);
     transform: scale(1.05);
   }
 }