.container {
    display: flex;
    /* justify-content: ; */
    padding-left: 20px;
    font-size: 30px;
    font-weight: 300;
    margin: 35px;
    flex-direction: row;
    /* columns: auto; */
    
 }
 *{
    margin: 0; 
    padding: 0;
  
  }
  
  html{
     font-family: "Reenie Beanie", cursive;
     font-weight: 400;
     font-style: normal;
     color:#3b3b3b;
  }
  nav {
     text-decoration: none;
  }
  h1{
    display: flex;
    }
    
    h2 a{
        text-decoration: none;
        color: #3b3b3b;
     }
  
  .lyrics{
     font-size: 15px; 
  }

  .container {
    display: flex;
    justify-content: space-around;
    padding-left: 20px;
    font-size: 30px;
    font-weight: 300;
    margin: 350px;
    
 }

.circle {
    position: relative;
    width: 400px;
    height: 300px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.text {
    width: 100%;
    height: 100%;
    position: absolute;
    animation: circleText 10s linear infinite;
}

#fadeIn {
    animation-name: fadeIn;
    animation-delay: 0s;
    animation-direction: forwards;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease;
 }
 @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .transform{
    animation: rotate;
    
  }