* {
  margin: 0;
  padding: 0;

}

html {
  font-family: "Reenie Beanie", cursive;
  font-weight: 400;
  font-style: normal;
  color: #3b3b3b;
}

nav a{
  text-decoration: none;
  color: #3b3b3b;
}

.lyrics {
  font-size: 15px;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: space-around;
  padding-left: 20px;
  font-size: 30px;
  font-weight: 300;
  margin: 350px;

}

.container2 {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: 300;
}

.typed-out {
  overflow: hidden;
  /* Ensures the text is initially hidden */
  border-right: .15em solid orange;
  /* Create the blinking cursor */
  white-space: nowrap;
  /* Prevent the text from wrapping */
  animation: typing 3s steps(30, end) infinite;
  /* Adjust the animation duration as needed */
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

.typed-out {
  overflow: hidden;
  border-right: .15em solid orange;
  white-space: nowrap;
  font-size: 1.6rem;
  width: 0;
  animation: typing 3s forwards;
}

#fadeIn {
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-direction: forwards;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}